.fixed-image-wrapper {
    height: 200px; 
    overflow: hidden;
}
.fixed-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen para ajustar sin deformar */
    object-position: center; /* Centra la imagen */
}
   
h1, h2, h3, h6, .btn, .span{
    color:rgb(229, 132, 235);
}

.card-body{
    background-color: #faf4f6;
}

#card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  
}

.count{
    color: green;
}

