
{% load static %}

<header id="header" class="mb-4">
    
    
    <nav class="navbar navbar-expand-sm navbar-light">
        <img src="{% static '/imgs/martas_kitchen_logo.png' %}" alt="Logo" class="navbar-brand" style="height: 200px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Perfiles</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Registro</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipe_create' %}">Nueva Receta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_detail' request.user.profile.pk %}">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    
</header>






