{% extends 'general/layout.html' %}
{% load i18n %}
{% load static %}
{% block head_title %}Recetario List{% endblock %}
{% block content %}


<!-- Listado completo de recetas -->
<div class="container-fluid d-flex flex-column align-items-center mt-4">

  <h1 class="display-6">{% trans "Listado completo de recetas" %}</h1>
  <div class="d-flex flex-wrap">   

    {% for receta in recetas%}       
      <div>
       {% include  '_includes/_recetas.html' %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}