{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}Nueva Receta{% endblock %}
{% block content %}


  <div class="row">

    
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
          <div class="card-body">
            <h1 class="card-title">{% trans "Nueva Receta" %}</h1>
            <hr>
            
            <form action="" method="post", enctype="multipart/form-data">
              {% csrf_token %} 
              
                  {{ form.image | as_crispy_field }}
                  {{ form.recipe_name | as_crispy_field }}
                  {{ form.recipes | as_crispy_field }}
                  {{ form.ingredients | as_crispy_field }}
                
              <button class="btn btn-light">{% trans "Añadir Receta" %}</button>
            </form>
          </div>
        
    </div>

    
  </div>

{% endblock %}