{% extends 'general/layout.html' %}
{% load i18n %}
{% block head_title %}Recetario{% endblock %}
{% block content %}

<!-- Ultimas Recetas -->
<section class="d-flex flex-column align-items-center mt-4">
    
    <h2 class="display-6">{% trans "Ultimas Recetas" %}</h2>   
    <div class="container">
        
        <div class="d-flex flex-wrap">   
            {% for receta in last_recetas%}       
                <div>
                    {% include  '_includes/_recetas.html' %}
                </div>
            {% endfor %}
        </div>
    </div>           
</section>    
    
{% endblock %}