{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}Recetario{% endblock %}
{% block content %}

<div class="row">

    <section>
        <div id="card" class="card" style="width: 18rem;">
            
            {% if profile.profile_picture%}
            <img class="card-img-top" width="100" src="{{ profile.profile_picture.url }}" alt="foto"/>
            {% else %}
                No dispone de foto de perfil        
            {% endif%}
        
           
            <div class="card-body">
                <h5 class="card-title">Perfil de {{ profile.user.username}}</h5>
                
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: {{ profile.email|default_if_none:'Sin rellenar' }}</li>
                <li class="list-group-item">F.nacimiento: {{ profile.birth_date|default_if_none:"Sin rellenar"}}</li>
                <li class="list-group-item">Seguidos: {{ profile.followers.count }}</li>
                 <li class="list-group-item">Seguidores: {{ profile.following.count }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Enlace de tarjeta</a>
                <a href="#" class="card-link">Otro enlace</a>
            </div>
        </div>
    


          {% if profile.user != request.user %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.profile_pk|as_crispy_field}}
                    {% if following %}
                        <button>Dejar de seguir</button>
                    {% else %}
                        <button>Seguir</button>
                    {% endif%}
            </form>
        {% endif %}



        
        {% if profile.user == request.user %}
            <p class="mt-2"><a class="btn btn-light" href="{% url 'profile_update' profile.pk %}">Editar</a></p>
        {% endif %}
  
    </section>
    <section>
        <h2 class="display-6">Recetas</h2>
        <div class="container">
           
            
            <div class="d-lg-flex">
                {% for receta in profile.user.recetas.all %}
                    <div>
                        {% include '_includes/_recetas.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

</div>  
{% endblock %}