{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}Instagram Conquer{% endblock %}
{% block content %}



  <div class="container d-flex flex-column align-items-center mt-4">
    <h1 class="display-6">{% trans "Perfiles" %}</h1>
          
   <section class="d-flex flex-wrap gap-3 justify-content-center">
    
      {% for profile in profiles %}

        <div id="card" class="card" style="width: 18rem;">

          {% if profile.profile_picture %}
            <img class="card-img-top" width="100" src="{{ profile.profile_picture.url }}" alt="foto"/>
          {% else %}
               No dispone de foto de perfil        
          {% endif %}
        
      
        <div class="card-body">
          <h5 class="card-title">{% trans "Perfil de: " %}{{ profile.user.username}}</h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="fw-bold">{% trans "Email: " %}</span>{{ profile.email|default_if_none:'Sin rellenar' }}</li>
          <li class="list-group-item"><span class="fw-bold">{% trans "F.nacimiento: " %}</span>{{ profile.birth_date|date:"d-m-Y"|default_if_none:"Sin rellenar"}}
        </ul>

        <div class="d-inline-flex p-2 bd-highlight gap-5  justify-content-center">
            
            <div class="d-flex flex-column align-items-center">
              <span class="fw-bold">{% trans "Seguidos: " %}</span>
              <span class="count">{{ profile.followers.count }}</span>
            </div>
            
            <div class="d-flex flex-column align-items-center">
              <span class="fw-bold">{% trans "Seguidores: " %}</span>
              <span class="count">{{ profile.following.count }}</span>
            </div>
        </div>

        <div class="card-body d-flex justify-content-center">
          <a  class="btn btn-light" role= "button" href="{% url 'profile_detail' profile.pk %}">{% trans "Ver perfil" %}</a>
        </div>
      </div>
      {% endfor %}
    </section>
  </div>


{% endblock %}