{% extends 'general/layout.html' %} 
{% load i18n %}
{% block head_title %}Favoritos{% endblock %} 
{% block content %}


  <div class="row  md-3 justify-content-center" >
    <h2 class="text-center display-6 mb-4" >{% trans "Favoritas" %}</h2>
    <section class="card  " style="width: 28rem;  ">
      
  
      {% if favorite_recetas %}
        <ul class="list-group list-group-flush">
          {% for recipe in favorite_recetas %}
            <li class="list-group-item"><a class="flex-sm-fill text-sm-center nav-link"  href="{% url 'receta_detail' recipe.pk %}">{{ recipe.recipe_name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-success fs-5 text-sm-center mt-2">{% trans "No tienes recetas favoritas." %}</p>
      {% endif %}
    </section>
  </div>

   
   

{% endblock %}
